
<div class="form-group row">

    <div class="col-sm-12" ><div class="title-form" id="mention"></div>
    </div>
</div>
<div class="form-group row">
    <label for="detail_type_formation" class="col-sm-4 control-label text-right">ACCESSIBLE EN :</label>
    <div class="col-sm-8"><span id="detail_type_formation"></span>
    </div>
</div>

<div class="form-group row">
    <label for="detail_domaine" class="col-sm-4 control-label text-right">DOMAINE :</label>
    <div class="col-sm-8" id="detail_domaine">
    </div>
</div>
<div class="form-group row">
    <label for="detail_filiere" class="col-sm-4 control-label text-right">FILIERE :</label>
    <div class="col-sm-8" id="detail_filiere">
    </div>
</div>
<div class="form-group row">
    <label for="detail_diplome" class="col-sm-4 control-label text-right">TYPE DE DIPLÔME :</label>
    <div class="col-sm-8" id="detail_diplome">
    </div>
</div>
<div class="form-group row">
    <label for="detail_composante" class="col-sm-4 control-label text-right">LIEU DE FORMATION :</label>
    <div class="col-sm-8" id="detail_composante">
    </div>
</div>
<div id="id_group_detail_alternance" class='choix'>
    <div class="page-header text-primary"><b>ALTERNANCE </b></div>
    <div class="form-group row">
        <label for="detail_rythme" class="col-sm-4 control-label text-right">Rythme :</label>
        <div class="col-sm-8" id="detail_rythme">
        </div>
    </div>
</div>

<div id="id_group_detail_stage" class='choix'>
    <div class="page-header text-primary"><b>STAGE</b></div>
    <div class="form-group row">
        <label for="detail_type_stage" class="col-sm-4 control-label text-right">Détail :</label>
        <div class="col-sm-8" id="detail_type_stage">
        </div>
    </div>
    <div class="form-group row">
        <label for="nbre_semaine" class="col-sm-4 control-label text-right"><abbr title="(Durée du stage)">Nombre de
            semaine :</abbr> <span class="h"></span></label>
        <div class="col-sm-8" id="nbre_semaine">
        </div>
    </div>
    <div class="form-group row">
        <label for="debut_stage" class="col-sm-4 control-label text-right"><abbr title="(Mois de début du stage)">Début :</abbr>
            <span class="h"></span></label>
        <div class="col-sm-8" id="debut_stage">
        </div>
    </div>
    <div class="form-group row">
        <label for="fin_stage" class="col-sm-4 control-label text-right"><abbr title="(Mois de fin du stage)">Fin :</abbr> <span
                class="h"></span></label>
        <div class="col-sm-8" id="fin_stage">
        </div>
    </div>
</div>


<div class="page-header text-primary"><b>COMPÉTENCE(S) VISÉE(S)</b></div>
<div class="form-group row">
    <div class="col-sm-12" id="detail_competence">
    </div>
</div>
